@use './colors' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;

	&.dark-theme {
		color: $white;
		background: $dark-blue;
	}
}

// WRAPPER

.wrapper {
	margin: 0 auto;
	padding: 0 1em;
	width: 100%;
	max-width: 1400px;
}

// WRAPPER END

// HAMBURGER
.hamburger {
	&-inner,
	&-inner::before,
	&-inner::after {
		background-color: $white;
		z-index: 500;
	}
}
// HAMBURGER END

// NAV

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: transparent;
	border-bottom: 1px solid #53535a;
	z-index: 10;

	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 80px;
	}

	&__logo a {
		text-decoration: none;
		color: $white;
		font-size: 2.4rem;
		font-weight: bold;
		min-height: 3rem;
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		top: 80px;
		right: 0;
		width: 100%;
		height: calc(100vh - 80px);
		transform: translateX(100%);
		background-color: #fff;
		opacity: 0;
		transition: transform 0.5s, opacity 0.5s;
		overflow: auto;
	}

	.show-menu {
		transform: translateX(0);
		opacity: 1;
		background-color: transparent;
		overflow: inherit;
	}

	&__item {
		display: inline-block;
		margin-top: 1.5em;
		font-size: 2rem;
		list-style: none;
	}

	&__item a {
		padding: 1em 2em;
		color: $white;
		text-decoration: none;
		transition: color 0.3s;
	}

	&__item--active a,
	&__item a:hover {
		color: $main;
	}
}

// NAV END

// IMG OVERLAY
.overlay-photo-image-bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	transition: all 0.5s ease-in-out 0s;
}
// IMG OVERLAY END

// PARTICLES

.particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

// PARTICLES END

// HEADER

.header {
	height: 100vh;
	position: relative;
	overflow: hidden;

	&__img {
		background-image: url('../img/header.jpg');
		background-size: cover;
		opacity: 0.2;
	}
}

// HEADER END

// BREAKPOINTS
@media (min-width: 768px) {
	.container {
		padding: 0 1em;
	}
}

@media (min-width: 992px) {
	.navbar {
		&__list {
			flex-direction: row;
			justify-content: space-between;
			position: static;
			min-height: 8rem;
			height: 0;
			width: auto;
			transform: translateX(0);
			opacity: 1;
			background: transparent;
			overflow: hidden;
		}

		&__logo a {
			min-height: 4rem;
		}

		&__item {
			margin-top: 0;
			font-size: 1.8rem;
		}

		&__item a {
			padding: 1em;
		}

		&__burger-btn {
			display: none;
		}
	}
}
